form{
    width: 500px;
    margin: auto;
    padding: 15px;
}
h1{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"]
,textarea
{          
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}
input[type="radio"]
{
    margin-bottom: 10px;
}
input[type='submit']
{
    display: inline;
    background-color:lightblue;
}
input[type='reset']
{
    display: inline;
    background-color:lightblue;
    margin-top: 2%;
}
input[type="file"]
{
    width: 100%;
    font-size: 105%;
    margin-bottom: 5%;
}
fieldset
{
    width: 500px;
    margin: auto;
    background-color:white;
}
select
{
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}
input[type='reset']:hover,
input[type='submit']:hover
{
    height: 25px;
    width: 60px;
}
body
{
    background-color:#F08080;
}
.top,.link{
    margin-left: 500px;
    font-size: large;
}
.top1{
    margin-left: 400px;
    font-size: larger;
}
button{
    float: right;
    background-color:purple ;
    width: 100px;
    color: white;
}

